<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <h1>Flask + MySQL App [2 tier] - Tushar 🔥</h1>

        <div class="messages">
            {% for message in messages. %}
            <p>{{ message[0] }}</p>
            {% endfor %}
        </div>

        <form id="messageForm">
            <input type="text" name="new_message" placeholder="Type your message..." required>
            <input type="submit" value="Send">
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="script.js"></script>
</body>

</html>
